@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 48 30% 98%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 43 96% 56%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 43 70% 95%;
    --secondary-foreground: 43 96% 36%;

    --muted: 43 40% 96.1%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 43 70% 90%;
    --accent-foreground: 43 96% 36%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 43 96% 56%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 48 30% 96.1%;

    --card: 20 14.3% 4.1%;
    --card-foreground: 48 30% 96.1%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 48 30% 96.1%;

    --primary: 43 96% 56%;
    --primary-foreground: 26 83.3% 14.1%;

    --secondary: 43 50% 20%;
    --secondary-foreground: 48 30% 96.1%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 43 50% 25%;
    --accent-foreground: 48 30% 96.1%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 48 30% 96.1%;

    --border: 12 6.5% 15.1%;
    --input: 12 6.5% 15.1%;
    --ring: 43 96% 56%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
